### LICENSE PLATE EVALUATION FOR MALAYSIAN SUBSET

In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ["Plate"]
dt=pd.read_csv('M_groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [3]:
dt['Plate'].str.split('',expand=True).head(20)
dt

           Plate
0        VBL7689
1        PPF2308
2        PPP7698
3        PLA2545
4        PLU9828
5        PMW7595
6        PPR9300
7         KDQ535
8        AGR7840
9        VER2415
10       BHD8060
11       BNQ8463
12        JCX949
13       PPR7135
14       PGC6107
15       PNR6168
16  MALAYSIA7984
17       PLU8965
18       PKU6740
19       PKM1122
20       PPF5639
21       PNY9137
22       PEU8497
23       PKH3490
24       PKF2703
25       PJR3672
26       PJC2961
27       PLY5017
28       QCE4305
29       WJV2854

In [4]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_subset_MY.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [5]:
ANN_df['Plate'].str.split('',expand=True)

      0    1    2     3     4     5     6     7     8
0   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
1          P    P     F     2     3     0     8
2          P    P     P     7     6     9     8
3          P    2        None  None  None  None  None
4   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
7   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
8          A    G     R     7     8     4     0
9   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
10  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
11         B    N     Q     8     4     6     3
12  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
14         P    G     C     6     0     7        None
15  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
16  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
17         B    9     G     6        None  None  None
18  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
20         F       None  None  None  None  None  None
21  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
23         P    0        None  None  None  None  None
24         P    K     F     7        None  None  None
25  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
26  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
27         P    L     Y     5     0     I     7
28  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN
29         W    J     V     2     4        None  None

In [6]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    4
dtype: int64

In [7]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

18

In [8]:
fail = 30 - cp - missing
fail

Plate    8
dtype: int64

In [9]:
correct = cp/30
miss = missing/30
fail_detect = fail/30

In [10]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.13
Missing / Overall Plates ->  0.6
Incorrect / Overall Plates ->  Plate    0.27

In [11]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    13.33 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [12]:
merged = dt.copy()

In [13]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [14]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [15]:
m4=m3.copy()

In [16]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [17]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,1,0,1,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,1,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [19]:
dataString = dt.copy()
stringData = dataString.to_string()

In [20]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [21]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [22]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [23]:
dataString["Overall"] = dataString['Overall'].round(2)

In [24]:
acc = dataString['Overall'].sum()/30*100

In [25]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  22.37 %

# Part 3 - Precision and Recall

In [26]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [27]:
test = gt+rp
# test.head(20)

In [28]:
test1=test.replace(np.nan, '-')
# test1

In [29]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [30]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [31]:
test2 = test.copy()

In [32]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [33]:
test2["Sum(FP)"] = test2.sum(axis=1)
# test2.head(15)

In [34]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FP)'] = test2['Sum(FP)']
test3['Incorrect(FN)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FP)']

In [35]:
test3.head(5)

     Plate Model Data  PlateLength  Correct(TP)  Missing(FP)  Incorrect(FN)
0  VBL7689        NaN            7            0          7.0            0.0
1  PPF2308    PPF2308            7            7          0.0            0.0
2  PPP7698    PPP7698            7            7          0.0            0.0
3  PLA2545         P2            7            1          4.0            2.0
4  PLU9828        NaN            7            0          7.0            0.0

In [36]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FP)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FN)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FP),Incorrect(FN),Recall,Precision
0,VBL7689,NaN,7,0,7.0,0.0,0.0,NaN
1,PPF2308,PPF2308,7,7,0.0,0.0,1.0,1.000000
2,PPP7698,PPP7698,7,7,0.0,0.0,1.0,1.000000
3,PLA2545,P2,7,1,4.0,2.0,0.2,0.333333
4,PLU9828,NaN,7,0,7.0,0.0,0.0,NaN
5,PMW7595,NaN,7,0,7.0,0.0,0.0,NaN
6,PPR9300,NaN,7,0,7.0,0.0,0.0,NaN
7,KDQ535,NaN,6,0,6.0,0.0,0.0,NaN
8,AGR7840,AGR7840,7,7,0.0,0.0,1.0,1.000000
9,VER2415,NaN,7,0,7.0,0.0,0.0,NaN
10,BHD8060,NaN,7,0,7.0,0.0,0.0,NaN
11,BNQ8463,BNQ8463,7,7,0.0,0.0,1.0,1.000000
12,JCX949,NaN,6,0,6.0,0.0,0.0,NaN
13,PPR7135,NaN,7,0,7.0,0.0,0.0,NaN
14,PGC6107,PGC607,7,4,0.0,3.0,1.0,0.571429
15,PNR6168,NaN,7,0,7.0,0.0,0.0,NaN
16,MALAYSIA7984,NaN,12,0,8.0,4.0,0.0,0.000000
17,PLU8965,B9G6,7,0,2.0,5.0,0.0,0.000000
18,PKU6740,NaN,7,0,7.0,0.0,0.0,NaN
19,PKM1122,NaN,7,0,7.0,0.0,0.0,NaN
20,PPF5639,F,7,0,5.0,2.0,0.0,0.000000
21,PNY9137,NaN,7,0,7.0,0.0,0.0,NaN
22,PEU8497,NaN,7,0,7.0,0.0,0.0,NaN
23,PKH3490,P0,7,1,4.0,2.0,0.2,0.333333
24,PKF2703,PKF7,7,3,2.0,2.0,0.6,0.600000
25,PJR3672,NaN,7,0,7.0,0.0,0.0,NaN
26,PJC2961,NaN,7,0,7.0,0.0,0.0,NaN
27,PLY5017,PLY50I7,7,6,0.0,1.0,1.0,0.857143
28,QCE4305,NaN,7,0,7.0,0.0,0.0,NaN
29,WJV2854,WJV24,7,4,1.0,2.0,0.8,0.666667

In [37]:
print('Precision - > ', (results['Precision'].sum() / 30 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 30 * 100).round(2), '%')

Precision - >  24.54 %
Recall - >  26.0 %

### LICENSE PLATE EVALUATION FOR KAGGLE SUBSET

In [38]:
import pandas as pd
import numpy as np

In [39]:
header = ["Plate"]
dt=pd.read_csv('K_groundtruth.csv',names=header)
dt.dtypes

Plate    object
dtype: object

In [40]:
dt['Plate'].str.split('',expand=True).head(20)
dt

         Plate
0        E4GLE
1    15LK10898
2     KU2222AK
3       CCC444
4     SMJ3681H
5      513J636
6      ZG2877J
7     STA5131E
8      785K686
9      712J032
10     ZG3632L
11  TN21BY0166
12     BKWL324
13      LI9TLC
14      MK3532
15  MH20EE7596
16       A2MMC
17     LP7404S
18     ZG806KF
19  MH20DV2363
20     AK00281
21     317J939
22     ZG687NL
23  HR26BR9044
24     H982FKL
25     KKH5122
26     ZG5942G
27     ZG776FB
28      FMG547
29  HR26DA2330

In [41]:
header2 = ["Plate"]
ANN_df=pd.read_csv('ANN_subset_kaggle.csv',skip_blank_lines=False,names=header2)
ANN_df.dtypes

Plate    object
dtype: object

In [42]:
ANN_df['Plate'].str.split('',expand=True)

     0    1    2     3     4     5     6     7     8     9     10
0          6    E     4     G     L     E        None  None  None
1          1    5     L     K     1     0     8     9     8
2          K    U     2     2     2     2     A     K        None
3   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5          5    1     3     J     5     3     6        None  None
6   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7          S    T     A     5     1     3     1     E        None
8          7    B     5     K     5     B     5        None  None
9          7    1     2     J     0     3     2        None  None
10  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13         L    S     T     L     C        None  None  None  None
14  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16         B    A     2     M     M     C        None  None  None
17         L    P     0     S        None  None  None  None  None
18  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20         A    K     0     0     Z     8     1        None  None
21         3    1     7     J     9     3     9        None  None
22         Z    G     B     B     7     N     L        None  None
23         J       None  None  None  None  None  None  None  None
24         H    S     B     2     F     K     L        None  None
25         K    K     H     5     I     2     2        None  None
26  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28         M    G     5     4     7        None  None  None  None
29  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

# Part 1 -> Accuracy of the Entire License Plate for each row

In [43]:
cp = pd.merge(dt, ANN_df, how='inner', on=['Plate']).count()
cp

Plate    5
dtype: int64

In [44]:
missing = dt['Plate'].count() - ANN_df['Plate'].count()
missing

13

In [45]:
fail = 30 - cp - missing
fail

Plate    12
dtype: int64

In [46]:
correct = cp/30
miss = missing/30
fail_detect = fail/30

In [47]:
print ('Correct / Overall Plates -> ' , round(correct, 2).to_string())
print ('Missing / Overall Plates -> ' , round(miss, 2))
print ('Incorrect / Overall Plates -> ' , round(fail_detect, 2).to_string())

Correct / Overall Plates ->  Plate    0.17
Missing / Overall Plates ->  0.43
Incorrect / Overall Plates ->  Plate    0.4

In [48]:
Accuracy = correct * 100
print('Accuracy', round(Accuracy, 2).to_string(), '%')

Accuracy Plate    16.67 %

# Part 2 -> Accuracy of the characters by row for each License Plate

In [49]:
merged = dt.copy()

In [50]:
merged['Plate2'] = ANN_df['Plate']
# merged.head(20)

In [51]:
merged1 = merged['Plate'].str.split('',expand=True)
merged2 = merged['Plate2'].str.split('',expand=True)
m3 = merged1 + merged2

In [52]:
m4=m3.copy()

In [53]:
m4['AA']=(m4 == 'AA').T.sum()
m4['BB']=(m4 == 'BB').T.sum()
m4['CC']=(m4 == 'CC').T.sum()
m4['DD']=(m4 == 'DD').T.sum()
m4['EE']=(m4 == 'EE').T.sum()
m4['FF']=(m4 == 'FF').T.sum()
m4['GG']=(m4 == 'GG').T.sum()
m4['HH']=(m4 == 'HH').T.sum()
m4['II']=(m4 == 'II').T.sum()
m4['JJ']=(m4 == 'JJ').T.sum()
m4['KK']=(m4 == 'KK').T.sum()
m4['LL']=(m4 == 'LL').T.sum()
m4['MM']=(m4 == 'MM').T.sum()
m4['NN']=(m4 == 'NN').T.sum()
m4['OO']=(m4 == 'OO').T.sum()
m4['PP']=(m4 == 'PP').T.sum()
m4['QQ']=(m4 == 'QQ').T.sum()
m4['RR']=(m4 == 'RR').T.sum()
m4['SS']=(m4 == 'SS').T.sum()
m4['TT']=(m4 == 'TT').T.sum()
m4['UU']=(m4 == 'UU').T.sum()
m4['VV']=(m4 == 'VV').T.sum()
m4['WW']=(m4 == 'WW').T.sum()
m4['XX']=(m4 == 'XX').T.sum()
m4['YY']=(m4 == 'YY').T.sum()
m4['ZZ']=(m4 == 'ZZ').T.sum()

m4['00']=(m4 == '00').T.sum()
m4['11']=(m4 == '11').T.sum()
m4['22']=(m4 == '22').T.sum()
m4['33']=(m4 == '33').T.sum()
m4['44']=(m4 == '44').T.sum()
m4['55']=(m4 == '55').T.sum()
m4['66']=(m4 == '66').T.sum()
m4['77']=(m4 == '77').T.sum()
m4['88']=(m4 == '88').T.sum()
m4['99']=(m4 == '99').T.sum()

In [54]:
m4[['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'VV', 'WW', 'XX', 'YY', 'ZZ', '00', '33', '44', '55', '66', '77', '99', '88', '11', '22']].head(20)

,AA,BB,CC,DD,EE,FF,GG,HH,II,JJ,...,00,33,44,55,66,77,99,88,11,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,2,2,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,0,2,0,1,1,0,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,2,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,1,0,0,1,2
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
m4["Correct(TP)"] = m4.sum(axis=1)

In [56]:
dataString = dt.copy()
stringData = dataString.to_string()

In [57]:
dataString["PlateLength"]= dataString['Plate'].str.len()

In [58]:
dataString["Correct(TP)"] = m4["Correct(TP)"]

In [59]:
dataString["Overall"] = dataString['Correct(TP)']/dataString['PlateLength']

In [60]:
dataString["Overall"] = dataString['Overall'].round(2)

In [61]:
# dataString

In [62]:
acc = dataString['Overall'].sum()/30*100

In [63]:
print('Accuracy - > ', acc.round(2), '%')

Accuracy - >  33.63 %

# Part 3 - Precision and Recall

In [64]:
rp=merged2.replace(np.nan, '-')
gt=merged1.replace(np.nan, '-')

In [65]:
test = gt+rp
# test.head(20)

In [66]:
test1=test.replace(np.nan, '-')
# test1

In [67]:
test1['AA']=(test1 == 'AA').T.sum()
test1['BB']=(test1 == 'BB').T.sum()
test1['CC']=(test1 == 'CC').T.sum()
test1['DD']=(test1 == 'DD').T.sum()
test1['EE']=(test1 == 'EE').T.sum()
test1['FF']=(test1 == 'FF').T.sum()
test1['GG']=(test1 == 'GG').T.sum()
test1['HH']=(test1 == 'HH').T.sum()
test1['II']=(test1 == 'II').T.sum()
test1['JJ']=(test1 == 'JJ').T.sum()
test1['KK']=(test1 == 'KK').T.sum()
test1['LL']=(test1 == 'LL').T.sum()
test1['MM']=(test1 == 'MM').T.sum()
test1['NN']=(test1 == 'NN').T.sum()
test1['OO']=(test1 == 'OO').T.sum()
test1['PP']=(test1 == 'PP').T.sum()
test1['QQ']=(test1 == 'QQ').T.sum()
test1['RR']=(test1 == 'RR').T.sum()
test1['SS']=(test1 == 'SS').T.sum()
test1['TT']=(test1 == 'TT').T.sum()
test1['UU']=(test1 == 'UU').T.sum()
test1['VV']=(test1 == 'VV').T.sum()
test1['WW']=(test1 == 'WW').T.sum()
test1['XX']=(test1 == 'XX').T.sum()
test1['YY']=(test1 == 'YY').T.sum()
test1['ZZ']=(test1 == 'ZZ').T.sum()

test1['00']=(test1 == '00').T.sum()
test1['11']=(test1 == '11').T.sum()
test1['22']=(test1 == '22').T.sum()
test1['33']=(test1 == '33').T.sum()
test1['44']=(test1 == '44').T.sum()
test1['55']=(test1 == '55').T.sum()
test1['66']=(test1 == '66').T.sum()
test1['77']=(test1 == '77').T.sum()
test1['88']=(test1 == '88').T.sum()
test1['99']=(test1 == '99').T.sum()

In [68]:
test1["Sum(TP)"] = test1.sum(axis=1)
# test1.head(5)

In [69]:
test2 = test.copy()

In [70]:
test2['A-']=(test2 == 'A-').T.sum()
test2['B-']=(test2 == 'B-').T.sum()
test2['C-']=(test2 == 'C-').T.sum()
test2['D-']=(test2 == 'D-').T.sum()
test2['E-']=(test2 == 'E-').T.sum()
test2['F-']=(test2 == 'F-').T.sum()
test2['G-']=(test2 == 'G-').T.sum()
test2['H-']=(test2 == 'H-').T.sum()
test2['I-']=(test2 == 'I-').T.sum()
test2['J-']=(test2 == 'J-').T.sum()
test2['K-']=(test2 == 'K-').T.sum()
test2['L-']=(test2 == 'L-').T.sum()
test2['M-']=(test2 == 'M-').T.sum()
test2['N-']=(test2 == 'N-').T.sum()
test2['O-']=(test2 == 'O-').T.sum()
test2['P-']=(test2 == 'P-').T.sum()
test2['Q-']=(test2 == 'Q-').T.sum()
test2['R-']=(test2 == 'R-').T.sum()
test2['S-']=(test2 == 'S-').T.sum()
test2['T-']=(test2 == 'T-').T.sum()
test2['U-']=(test2 == 'U-').T.sum()
test2['V-']=(test2 == 'V-').T.sum()
test2['W-']=(test2 == 'W-').T.sum()
test2['X-']=(test2 == 'X-').T.sum()
test2['Y-']=(test2 == 'Y-').T.sum()
test2['Z-']=(test2 == 'Z-').T.sum()

test2['0-']=(test2 == '0-').T.sum()
test2['1-']=(test2 == '1-').T.sum()
test2['2-']=(test2 == '2-').T.sum()
test2['3-']=(test2 == '3-').T.sum()
test2['4-']=(test2 == '4-').T.sum()
test2['5-']=(test2 == '5-').T.sum()
test2['6-']=(test2 == '6-').T.sum()
test2['7-']=(test2 == '7-').T.sum()
test2['8-']=(test2 == '8-').T.sum()
test2['9-']=(test2 == '9-').T.sum()

In [71]:
test2["Sum(FP)"] = test2.sum(axis=1)
# test2.head(15)

In [72]:
test3 = dt.copy()
test3['Model Data'] = merged['Plate2']
test3['PlateLength'] = dataString["PlateLength"]
test3['Correct(TP)'] = test1['Sum(TP)']
test3['Missing(FP)'] = test2['Sum(FP)']
test3['Incorrect(FN)'] = test3['PlateLength'] - test3['Correct(TP)'] - test3['Missing(FP)']

In [73]:
test3.head(5)

       Plate Model Data  PlateLength  Correct(TP)  Missing(FP)  Incorrect(FN)
0      E4GLE     6E4GLE            5            0          0.0            5.0
1  15LK10898  15LK10898            9            9          0.0            0.0
2   KU2222AK   KU2222AK            8            8          0.0            0.0
3     CCC444        NaN            6            0          6.0            0.0
4   SMJ3681H        NaN            8            0          8.0            0.0

In [74]:
# Correct (TP), inccorect (FP), missing(FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)

results = test3.copy()
results['Recall'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Missing(FP)'])
results['Precision'] = results['Correct(TP)'] / (results['Correct(TP)'] + results['Incorrect(FN)'])
results

,Plate,Model Data,PlateLength,Correct(TP),Missing(FP),Incorrect(FN),Recall,Precision
0,E4GLE,6E4GLE,5,0,0.0,5.0,NaN,0.000000
1,15LK10898,15LK10898,9,9,0.0,0.0,1.0,1.000000
2,KU2222AK,KU2222AK,8,8,0.0,0.0,1.0,1.000000
3,CCC444,NaN,6,0,6.0,0.0,0.0,NaN
4,SMJ3681H,NaN,8,0,8.0,0.0,0.0,NaN
5,513J636,513J536,7,6,0.0,1.0,1.0,0.857143
6,ZG2877J,NaN,7,0,7.0,0.0,0.0,NaN
7,STA5131E,STA5131E,8,8,0.0,0.0,1.0,1.000000
8,785K686,7B5K5B5,7,3,0.0,4.0,1.0,0.428571
9,712J032,712J032,7,7,0.0,0.0,1.0,1.000000
10,ZG3632L,NaN,7,0,7.0,0.0,0.0,NaN
11,TN21BY0166,NaN,10,0,10.0,0.0,0.0,NaN
12,BKWL324,NaN,7,0,7.0,0.0,0.0,NaN
13,LI9TLC,LSTLC,6,1,0.0,5.0,1.0,0.166667
14,MK3532,NaN,6,0,6.0,0.0,0.0,NaN
15,MH20EE7596,NaN,10,0,10.0,0.0,0.0,NaN
16,A2MMC,BA2MMC,5,1,0.0,4.0,1.0,0.200000
17,LP7404S,LP0S,7,2,2.0,3.0,0.5,0.400000
18,ZG806KF,NaN,7,0,7.0,0.0,0.0,NaN
19,MH20DV2363,NaN,10,0,10.0,0.0,0.0,NaN
20,AK00281,AK00Z81,7,6,0.0,1.0,1.0,0.857143
21,317J939,317J939,7,7,0.0,0.0,1.0,1.000000
22,ZG687NL,ZGBB7NL,7,5,0.0,2.0,1.0,0.714286
23,HR26BR9044,J,10,0,8.0,2.0,0.0,0.000000
24,H982FKL,HSB2FKL,7,5,0.0,2.0,1.0,0.714286
25,KKH5122,KKH5I22,7,6,0.0,1.0,1.0,0.857143
26,ZG5942G,NaN,7,0,7.0,0.0,0.0,NaN
27,ZG776FB,NaN,7,0,7.0,0.0,0.0,NaN
28,FMG547,MG547,6,0,0.0,6.0,NaN,0.000000
29,HR26DA2330,NaN,10,0,10.0,0.0,0.0,NaN

In [75]:
print('Precision - > ', (results['Precision'].sum() / 30 * 100).round(2), '%')
print('Recall - > ', (results['Recall'].sum() / 30 * 100).round(2), '%')

Precision - >  33.98 %
Recall - >  45.0 %